
{% extends "base.html %}

{% block main %} 
    <div class="card">
        <div class="card-header">
            <img src="{{ url_for('static', filename='images/'+user.image) }}"></img>
            <div class="bio">
                <h2>{{ user.fname user.lname }}</h2>
                <div class="profile-info">
                    <i class="far fa-envelope"></i>
                    {{ user.email }}
                </div>
                <div class="profile-info">
                    <i class="fas fa-map-marker-alt"></i>
                    {{ user.location }}
                </div>
                <div class="profile-info">
                    <i class="fal fa-calendar"></i>
                    Joined on{{ user.timeStamp }}
                </div>
            </div>
        </div>
        <div class="card-body">
            <h3>About Me</h3>
            <p>{{ user.biography }}</p>
        </div>
        <div class="btns">
            <a href="#" class="btn">Send Message</a>
            <a href="#" class="btn">Follow</a>
        </div>
    </div>
{% endblock %}